:root {
	--main-color: #cfd2d6;
	--main-color-dim: #828282;
	--highlight-color: #55ffc9;
	--block-bg-color: #333;
}

body {
	font-family: sans-serif;
	background: #2d2d2d;
	color: var(--main-color);
	padding: 20px;
	margin: 0;
}

h1 {
	margin: 0;
	color: var(--main-color-dim);
	font-family: monospace;
	font-weight: normal;
	font-size: 16px;
}

::selection {
	background: var(--highlight-color);
	color: #111;
}

.ascii-art {
	font-family: monospace;
	white-space: pre;
}

a {
	color: var(--main-color);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.hi {
	text-decoration: none;
	position: relative;
	color: var(--highlight-color);
	outline: none;
	white-space: nowrap;
}

a.hi:after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 3px;
	margin-left: -50%;
	transform: translate(-50%, 0);
	transition: width 0.2s;
	background: var(--highlight-color);
}

a.hi:hover:after,
a.hi:focus:after {
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: 500px;
}

.info-block {
	padding: 10px 0;
	margin: 10px 0;
	border-bottom: 1px solid var(--main-color-dim);
}

.info-block:last-of-type {
	border-bottom: none;
}

.info-block__title {
	margin-top: 0;
}

.contacts {
	display: flex;
	justify-content: space-between;
}

.contacts__item {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--block-bg-color);
	text-decoration: none;
	min-width: 60px;
}

.contacts__item:hover {
	background: #222;
}

.contacts__item img {
	height: 32px;
	display: block;
	margin-bottom: 10px;
}

.contacts__item-title {
	font-size: 12px;
}

.project-item {
	margin-bottom: 40px;
	padding: 10px;
	background: var(--block-bg-color);
}

.project-title {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.project-info {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--main-color-dim);
}

.project-info__head {
	margin-right: 15px;
	font-weight: bold;
}

.project-info__content {

}

@media(max-width: 500px) {
	body {
		padding: 5px;
	}

	.contacts__item {
		padding: 5px;
		min-width: auto;
	}

	.contacts__item img {
		margin: 0;
	}

	.contacts__item-title {
		display: none;
	}
}